# Bỏ qua thư mục môi trường ảo và cache Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Bỏ qua các file cấu hình Git và IDE
.git/
.vscode/

# Bỏ qua các thư mục chứa dữ liệu tĩnh hoặc kết quả test
reports/
postman/
mock-data/